@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes liftAndDrop {
    0%,
    100% {
      transform: translateY(0);
      /* Vị trí ban đầu */
    }

    30% {
      transform: translateY(0.3rem);
      /* Hạ xuống */
    }
  }

  .lift-and-drop {
    animation: liftAndDrop 1s infinite;
    /* Thời gian và tần suất lặp lại */
    transition: transform 0.2s;
  }

  .hover-pause:hover {
    animation-play-state: paused;
  }

  .rotatey180 {
    transform: rotateY(180deg);
  }

  .shadow-md {
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  }

  .shadow-lg {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  }

  .truncate-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .truncate-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .truncate-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .truncate-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .truncate-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .truncate-7 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 18px solid transparent;

    border-bottom: 8px solid black;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 6.5px solid transparent;
    /* Chiều rộng của tam giác */
    border-right: 6.5px solid transparent;
    /* Chiều rộng của tam giác */
    border-bottom: 18px solid #565fcc;
    /* Chiều cao và màu sắc của tam giác */
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;

    border-left: 8px solid #eeeffa;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid blue;
  }

  .big-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 132px;
  }

  .big-title2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .headline1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }

  .headline2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  .body01 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .body-mobile {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .body2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .body02 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .body3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .body03 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }

  .body4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .body5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .body6 {
    font-size: 14px;
    line-height: 18px;
  }

  .home-body {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
  }

  .text-web {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }

  .caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .caption-2 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
  }

  .body-1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .body-3 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .subtitle-1 {
    font-size: 14px;
    font-style: normal;
  }

  .subtitle-2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    /* 102.5% */
  }

  .h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.96px;
  }

  .h4 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }

  .h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .h7 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
  }

  .h8 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .h8-web {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .h9 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .h9-light {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }

  .text-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .text-button-md {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  .text-header-2xl {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .text-header {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .ant-focus {
    border-color: #4096ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
  }

  .shadow-2 {
    box-shadow: 0px 2px 10px 0px rgba(0, 70, 251, 0.2);
  }

  .shadow-3 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .shadow-2xl {
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  }

  .absolute-x-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-y-center {
    top: 50%;
    transform: translateY(-50%);
  }

  .shadow-secondary {
    box-shadow: 0px 0px 20px 0px rgba(248, 223, 189, 0.2);
  }

  .shadow-navigator {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .button-supper-small {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .h-screen-mobile {
    height: var(--height-screen);
  }
}

.scrollable-element {
  overflow-y: scroll;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.infinite-scroll-component {
  overflow: unset !important;
}

html {
  scroll-behavior: smooth;
}

#root {
  color-scheme: light dark;
  color: #242424;
  background-color: white !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-snap-type: x mandatory;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  color-scheme: light dark;
  color: #242424;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

strong {
  font-weight: bold;
}

@layer base {
  html {
    --color-primary1: #f99d1c;
    --color-primary2: #f15f22;
    --color-neu1: #22313f;
    --color-neu2: #808890;
    --color-neu3: #b2b7bc;
    --color-neu4: #c7c7cc;
    --color-neu5: #f2f3f4;
    --color-neu6: #e5e5ea;
    --color-neu7: #fff2ee;
    --color-neu8: #178cff;
    --color-green1: #038c4c;
    --color-orange: #ff821e;
    --color-red: #c12525;
  }

  .shadow-medium {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25), 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
  }

  .animate-hover {
    @apply transition duration-150 ease-linear;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .container-full {
    @apply container px-4 md:px-[1rem] xl:px-14 2xl:px-0 mx-auto max-w-[1280px];
  }

  .container-elearning {
    @apply container px-6 sm:px-10 xl:px-0 mx-auto max-w-[1440px];
  }
  .container-full-2 {
    @apply max-w-[1052px] px-4 mx-auto xl:px-0;
  }

  .text-h5 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }

  .text-h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  .big-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 132px;
  }

  .big-title2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .headline1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }

  .headline2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  .body1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .body2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .body3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .body4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .body5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .text-web {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }

  .caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .caption-2 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }

  .caption-3 {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
  }

  .body {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .body-1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .body-2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
  }

  .body-3 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .subtitle-1 {
    font-size: 14px;
    font-style: normal;
  }

  .subtitle-2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.96px;
  }

  .h4 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .h8 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .text-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .text-button-small {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .ant-focus {
    border-color: #4096ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
  }

  .shadow-2 {
    box-shadow: 0px 2px 10px 0px rgba(0, 70, 251, 0.2);
  }

  .shadow-3 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .absolute-x-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-y-center {
    top: 50%;
    transform: translateY(-50%);
  }

  .shadow-secondary {
    box-shadow: 0px 0px 20px 0px rgba(248, 223, 189, 0.2);
  }

  .shadow-medium {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25), 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
  }
}


p,
span {
  text-indent: unset !important;
}

body {
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.tab-menu .flex-shrink-0 {
  width: 100%;
}

textarea:focus,
button:focus,
select:focus-visible,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.toast-fail {
  background: #fff8fb;
  border: 1px solid #dc3b8a;
  box-shadow: 8px 10px 48px rgba(1, 89, 160, 0.15);
  padding: 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #dc3b8a;
}

.toast-warning {
  background: #fff9e9;
  border: 1px solid #d8a408;
  box-shadow: 8px 10px 48px rgba(1, 89, 160, 0.15);
  padding: 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #d8a408;
}

.toast-success {
  background: #e4ffdd;
  border: 1px solid #01a446;
  box-shadow: 8px 10px 48px rgba(1, 89, 160, 0.15);
  padding: 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #01a446;
}

button.ant-btn {
  display: flex !important;
  align-items: center;
}

.tab-default {
  scroll-margin-top: 200px;
}

.lesson-slider .swiper-button-prev {
  left: -11px;
  top: 43px;
}

.lesson-slider .swiper-button-next {
  right: -11px;
  top: 43px;
}

.swiper-button-next,
.swiper-button-prev {
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  color: red;
  width: 50px;
  z-index: 123;
  opacity: 0.6;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-disabled svg path {
  fill: #b2b7bc !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  pointer-events: unset;
  cursor: not-allowed;
}

.time-question,
.length {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.slider {
  width: 100%;
  margin: 50% auto;
}

.speaking-result section {
  overflow-y: unset !important;
}

a:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  position: absolute;
  transition: 0.4s;
}

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #579e81;
  transition: 0.4s all ease-out;
}

